$body-border-color: #CCCCCC;
$module-padding : 130px;
$body-background-color: #FFFFFF;

html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

body.admin-bar {
  @include breakpoint(782px) {
    margin-top: -18px;
  }
}

/** Outer wrapper **/
// & {
//   width: 100%;
//   max-width: 1260px;
//   margin: 0 auto;
//   background: $body-background-color;
// }

/** Modules **/
.module {
  width: 100%;
  position: relative;
}

.module-inner {
  margin: 0 auto;
  max-width: 1430px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

/** Columns **/
.column-wrapper {
  font-size: 0;
}

@mixin columns($number) {
  vertical-align: top;
  display: inline-block;
  font-size: $base-font-size;
  width: 100% / $number;

  @include breakpoint(tablet) {
    width: 100%;
  }
}

.col-2 {
  @include columns(2);
}

.col-3 {
  @include columns(3);
}

.col-4 {
  @include columns(4);
}

.col-5 {
  @include columns(5);
}

/** Responsive **/

.mobile-only {
  display: none;

  @include breakpoint(tablet) {
    display: block;
  }
}

.desktop-only {
  @include breakpoint(tablet) {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

#wpadminbar {
  max-height: 32px;
  overflow: hidden;
}
