$benefits-copy-color: #939598;
$benefits-divider-color: #FBF6C1;

.benefits {
  transition: margin 0.5s ease-out;
  background: $white;

  .module-inner {
    max-width: 1200px;
    padding-top: 45px;
    padding-bottom: 45px;

    &:hover .benefit {
      opacity: 0.5;
      transform: scale(0.97);
    }

    @include divider();

    @include breakpoint(tablet) {
      &:after {
        display: none;
      }
    }
  }

  &.is-active .benefit {
    opacity: 0.5;
    transform: scale(0.97);
  }

  .benefit {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;

    &:hover, &.active {
      opacity: 1 !important;
      transform: scale(1.12) !important;
    }

    @include breakpoint(tablet) {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid $benefits-divider-color;

      &:last-child {
        border-bottom: 0;
      }

      .text-wrapper {
        transform: translateY(15px);
      }

      &:nth-child(odd) {
        .icon-wrapper {
          float: left;
          margin-right: 30px;
        }

        .text-wrapper {
          text-align: left;
        }
      }

      &:nth-child(even) {
        .icon-wrapper {
          float: right;
          margin-left: 30px;
        }

        .text-wrapper {
          text-align: right;
        }
      }
    }
  }

  h3 {
    text-transform: uppercase;
    font-size: em(18);
    margin-top: 0;
    margin-bottom: 10px;
  }

  p {
    font-size: em(13);
    margin: 0;
    padding: 0 20px;
    color: $benefits-copy-color;
    line-height: 1.5em;
  }

  .energy h3 {
    color: $energy-color;
  }

  .health h3 {
    color: $health-color;
  }

  .lifestyle h3 {
    color: $lifestyle-color;
  }

  .security h3 {
    color: $security-color;
  }

  .living h3 {
    color: $living-color;
  }

  .mobile-heading {
    text-align: center;

    h2 {
      font-size: 28px;
      color: $health-color;
      text-transform: uppercase;
      font-weight: normal;
      margin-top: -20px;
      margin-bottom: 0;
    }
  }
}
