$graphic-starting-background-color: #240302;
$graphic-ending-background-color: #FDF6C5;

.interactive-graphic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $graphic-starting-background-color;
  transition: background 1s ease-out;

  &.switch-background {
    background-color: $graphic-ending-background-color;
  }

  .graphic-wrapper {
    @include transform-center();
    background-image: url('#{$imagePath}/backgrounds/graphic-background-desktop.png'), radial-gradient(farthest-side at 50% 50%, #FFFEF8 0%, #FDF6C2 100%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: width 0.3s ease-out, height 0.3s ease-out;
  }

  .lightbulb {
    @include transform-center();
    top: 58%;
    width: 19.75%;
  }

  .icon-wrapper {
    width: 9%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;

    .icon-text {
      @include transform-center('vertical');
      top: 45%;
      text-transform: uppercase;
      transition: opacity 0.7s ease-out;
      opacity: 0;
      color: $linkbee-orange;
      white-space: nowrap;
      font-size: em(20);
      letter-spacing: 0.1em;
      font-weight: normal;
    }

    &.lifestyle {
      top: 15%;
      left: 50%;

      .icon-text {
        padding-left: 10%;
        left: 100%;
      }
    }

    &.security {
      width: 6.8%;
      top: 29.2%;
      right: 26.1%;

      .icon-text {
        top: 55%;
        padding-left: 10%;
        left: 100%;
      }
    }

    &.living {
      bottom: 22%;
      right: 25%;
      width: 10%;

      .icon-text {
        padding-left: 5%;
        left: 100%;
      }
    }

    &.energy {
      bottom: 21%;
      left: 34.5%;
      width: 8%;

      .icon-text {
        padding-right: 10%;
        right: 100%;
      }
    }

    &.heart {
      top: 31%;
      left: 33.5%;

      .icon-text {
        padding-right: 10%;
        right: 100%;
      }
    }

    &:hover, &.active {
      .icon {
        stroke-dashoffset: 0;
        stroke: $linkbee-orange;
        transition: stroke-dashoffset 0.7s ease-out, stroke 0.3s ease-out;
        animation-play-state: paused;
      }

      .icon-text {
        opacity: 1;
      }
    }
  }

  .icon {
    fill: $icon-yellow;
    stroke: transparent;
    width: 100%;
    transition: stroke-dashoffset 0.7s ease-out, stroke 0.5s 0.2s ease-out;


    &.lifestyle-icon {
      stroke-width: 3px;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      @include float-animation(0.1s);
    }

    &.security-icon {
      stroke-width: 1.3px;
      stroke-dasharray: 150;
      stroke-dashoffset: 150;
      @include float-animation(0.5s);
    }

    &.living-icon {
      stroke-width: 1.7px;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      @include float-animation(0.3s);
    }

    &.energy-icon {
      stroke-width: 3px;
      stroke-dasharray: 600;
      stroke-dashoffset: 600;
      @include float-animation(0.9s);
    }

    &.heart-icon {
      stroke-width: 15px;
      stroke-dasharray: 2000;
      stroke-dashoffset: 2000;
      @include float-animation(0.7s);
    }
  }
}
