.interactive-graphic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $graphic-starting-background-color;
  transition: background 0.6s linear, height 0.3s ease-out;

  @include breakpoint(tablet) {
    @include mobile-divider();

    &:after {
      bottom: 3%;
    }
  }

  &.switch-background {
    background-color: $graphic-ending-background-color !important;
    background-image: radial-gradient(circle at 50% 50%, rgba(255,254,248,1) 0%, rgba(255,254,248,1) 30%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%);
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-position: top, center 62%;
  }

  &.rays {
    background-image: radial-gradient(circle at 50% 50%, rgba(255,254,248,1) 0%, rgba(255,254,248,1) 30%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%), url('#{$imagePath}/backgrounds/graphic-background-desktop.png');
  }

  @include breakpoint(tablet) {
    background-color: $graphic-ending-background-color;
    position: relative;
    background-image: radial-gradient(circle at 50% 50%, rgba(255,254,248,1) 0%, rgba(255,254,248,1) 30%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%), url('#{$imagePath}/backgrounds/graphic-background-desktop.png');
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-position: top, center 62%;
  }

  .graphic-wrapper {
    @include transform-center();
    transition: width 0.3s ease-out, height 0.3s ease-out;
  }

  .lightbulb {
    @include transform-center();
    left: 50.25%;
    top: 49.8%;
    width: 21.2%;

    @include breakpoint(tablet) {
      width: 50%;
      top: 60%;
    }

    @media screen and (max-width: 1100px) and (orientation: landscape) {
      top: 56%;
    }
  }

  &.rays .play-wrapper {
    opacity: 0.3;
    
    &:hover {
      opacity: 1;
    }
    
    @media screen and (max-width: 1100px) {
      z-index: 1000;
      opacity: 0.6;
    }
  }

  .play-wrapper {
    position: absolute;
    bottom: 5px;
    left: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    cursor: pointer;
    z-index: 9999;

    @media screen and (max-width: 1100px) {
      bottom: 30px;
      left: 30px;
    }

    img {
      width: 40px;

      @media screen and (max-width: 767px) {
        width: 35px;
      }
    }
  }

  .icon-wrapper {
    width: 6%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;

    @include breakpoint(tablet) {
      width: 16%;
    }

    .icon-text {
      @include transform-center('vertical');
      top: 45%;
      text-transform: uppercase;
      transition: opacity 0.7s ease-out;
      opacity: 0;
      color: $linkbee-orange;
      white-space: nowrap;
      font-size: em(20);
      letter-spacing: 0.1em;
      font-weight: normal;

      @include breakpoint(tablet) {
        display: none;
      }
    }

    &.lifestyle {
      top: 9.5%;
      left: 50%;
      height: 11%;

      @include breakpoint(tablet) {
        top: 11.5%;
      }

      .icon-text {
        padding-left: 10%;
        left: 100%;
      }
    }

    &.security {
      width: 4.8%;
      top: 29.2%;
      right: 28.3%;
      height: 13%;

      @include breakpoint(tablet) {
        width: 12%;
        top: 27.4%;
        right: 0.8%;
      }

      .icon-text {
        top: 55%;
        padding-left: 10%;
        left: 100%;
      }
    }

    &.living {
      bottom: 28%;
      right: 29%;
      width: 7.5%;
      height: 12%;

      @include breakpoint(tablet) {
        bottom: 23%;
        right: -3%;
        width: 19%;
      }

      .icon-text {
        padding-left: 5%;
        left: 100%;
      }
    }

    &.energy {
      bottom: 27.6%;
      left: 36.9%;
      width: 5.9%;
      height: 11.5%;

      @include breakpoint(tablet) {
        bottom: 22.1%;
        left: 16%;
        width: 15%;
      }

      .icon-text {
        padding-right: 10%;
        right: 100%;
      }
    }

    &.heart {
      top: 31%;
      left: 33.5%;
      height: 11.4%;

      @include breakpoint(tablet) {
        top: 28%;
        left: 16.5%;
      }

      .icon-text {
        padding-right: 10%;
        right: 100%;
      }
    }

    &:hover, &.active {
      .icon {
        stroke-dashoffset: 0;
        stroke: $linkbee-orange;
        transition: stroke-dashoffset 0.7s ease-out, stroke 0.3s ease-out;
        animation-play-state: paused;
      }

      .icon-text {
        opacity: 1;
      }
    }
  }

  .icon {
    fill: $icon-yellow;
    stroke: transparent;
    width: 100%;
    transition: stroke-dashoffset 0.7s ease-out, stroke 0.5s 0.2s ease-out;


    &.lifestyle-icon {
      stroke-width: 3px;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      @include float-animation(0.1s);
    }

    &.security-icon {
      stroke-width: 1.3px;
      stroke-dasharray: 150;
      stroke-dashoffset: 150;
      @include float-animation(0.5s);
    }

    &.living-icon {
      stroke-width: 1.7px;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      @include float-animation(0.3s);
    }

    &.energy-icon {
      stroke-width: 3px;
      stroke-dasharray: 600;
      stroke-dashoffset: 600;
      @include float-animation(0.9s);
    }

    &.heart-icon {
      stroke-width: 15px;
      stroke-dasharray: 2000;
      stroke-dashoffset: 2000;
      @include float-animation(0.7s);
    }
  }
}
