$header-color: $white;
$header-shadow-color: rgba(0, 0, 0, 0.2);
$hamburger-color: #808285;

.site-header {
  background: $header-color;
  box-shadow: 0 3px 7px $header-shadow-color;
}

.wrap-header {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 10;

  .admin-bar & {
    top: 32px;
  }
}

.site-title {
  text-align: center;
  margin: 0;
}

.site-logo {
  max-width: 250px;
  transition: max-width 0.2s ease-out;

  // .is-sticky & {
  //   max-width: 225px;
  // }
}

.sticky-wrapper {
  transition: height 0.2s ease-out;
}

.menu-toggle {
  background: none;
  font-size: 0;
  border: 0;
  outline: none;
  @include transform-center('vertical');
  right: 15px;

  svg {
    width: 40px;
    height: 40px;

    .svg-menu-toggle {
      fill: $hamburger-color;
    }
  }
}

.main-menu {
  display: none;
}
