@keyframes float {
  0% {
    transform: translate(-1.5%, 0);
  }

  16.66% {
    transform: translate(-1.5%, 0);
  }

  50% {
    transform: translate(1.5%, 0);
  }

  66.66% {
    transform: translate(1.5%, 0);
  }

  100% {
    transform: translate(-1.5%, 0);
  }
}

@mixin float-animation($offset:0) {
  animation-duration: 2.5s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: $offset;
  animation-fill-mode: both;
  animation-timing-function: linear;

  &:hover {
    animation-play-state: paused;
  }
}
