$white: #FFFFFF;
$black: #000000;
$text-grey: #949494;
$linkbee-yellow: #F8E446;
$linkbee-orange: #FF8201;
$icon-yellow: #FFCD00;

$energy-color: #00B74F;
$health-color: #F94615;
$lifestyle-color: #FF8200;
$security-color: #CC8900;
$living-color: #CE0F69;

$graphic-starting-background-color: #000000;
$graphic-ending-background-color: #FDF6C5;
