// @font-face {
//   font-family: 'Samsung Sharp Sans';
//   src:  url('/us/fonts/SamsungSharpSans-Bold.eot') format('eot'),
//         url('/us/fonts/SamsungSharpSans-Bold.woff') format('woff');
//   font-weight: 700;
// }
//
// @font-face {
//   font-family: 'Samsung Sharp Sans';
//   src:  url('/us/fonts/SamsungSharpSans-Medium.eot') format('eot'),
//         url('/us/fonts/SamsungSharpSans-Medium.woff') format('woff');
//   font-weight: 400;
// }
//
// @font-face {
//   font-family: 'Samsung Sharp Sans';
//   src:  url('/us/fonts/SamsungSharpSans-Regular.eot') format('eot'),
//         url('/us/fonts/SamsungSharpSans-Regular.woff') format('woff');
//   font-weight: 200;
// }

@include font('proximanova-bold-webfont', 'ProximaNova', 700);
@include font('proximanova-light-webfont', 'ProximaNova', 300);
@include font('proximanova-regular-webfont', 'ProximaNova');

@mixin heading-font() {
  font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

@mixin body-font() {
  font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

$base-font-size: 16px;
